# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Go.gitlab-ci.yml

image: golang:latest

stages:
  - build
  - deploy

compile:
  stage: build
  script:
    - go build -ldflags "-extldflags '-static'" -o $CI_PROJECT_DIR/ytdlp-archive-viewer .
  artifacts:
    paths:
      - ytdlp-archive-viewer
