<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ytdlp-viewer | {{.FileCount}}</title>
</head>
<body>
<center>
    <h1>yt-dlp Viewer</h1>
    <h2>{{.FileCount}} files in this archive</h2>

    <form action="/search" method="get">
        <label>
            Search term:
            <input type="text" name="term" required>
        </label>
    </form>

    {{range .Files}}
        <a href="/view?id={{.Id}}">{{.Id}} - {{.Title}}</a><br />
    {{end}}
</center>
</body>
</html>