{{define "head"}}
<title>ytdlp-viewer | {{.FileCount}} videos</title>
<link href="/static/bulma.min.css" rel="stylesheet" />
<link href="/static/bulmaswatch.min.css" rel="stylesheet" />
{{end}}

{{define "body"}}
<div>
    <h1>yt-dlp Viewer</h1>
    <h2>{{.FileCount}} files in this archive</h2>

    <form action="/search" method="get">
        <label>
            Search term:
            <input name="term" required type="text">
        </label>
    </form>

    {{ if .ShowingAll }}
        <br />Showing <b>all</b> {{.FileCount}} videos.
    {{ else }}
        <br />Only up to 100 random videos are shown. <a href="/?all=1">Show all videos.</a>
    {{ end }}

    <div class="is-flex is-flex-wrap-wrap" style="gap: 10px !important;">
        {{range .Files}}

        <div>
            <div class="card" style="max-width: 290px; padding: 10px;">
                <div class="card-image">
                    <figure class="image">
                        <a href="/view?id={{.Id}}">
                            {{ if .Metadata.Thumbnail }}
                            <img class="image" alt="Video thumbnail" style="width: 240px; height: 135px" src="/videos/{{ .Metadata.Thumbnail }}">
                            {{ else }}
                            <img alt="Placeholder image" style="width: 240px; height: 135px" src="/static/placeholder.png">
                            {{ end }}
                        </a>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ .Title }}</p>
                            {{ if .Metadata.Channel }}
                            <p class="subtitle is-6">{{ .Metadata.Channel }}</p>
                            {{ else }}
                            <p class="subtitle is-6">Unknown</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>

</div>
{{end}}
