{{define "head"}}
    <title>ytdlp-viewer | {{.FileCount}} videos</title>
{{end}}

{{define "body"}}
<div>
    <h1>yt-dlp Viewer</h1>
    <h2>{{.FileCount}} files in this archive</h2>

    <form action="/search" method="get">
        <label>
            Search term:
            <input type="text" name="term" required>
        </label>
    </form>

    {{range .Files}}
        <p><a href="/view?id={{.Id}}">{{.Id}} - {{.Title}}</a>
            {{ if .Metadata.ChannelID }} [M] {{ end }}
            {{ if .Metadata.ChannelID }} - {{.Metadata.Channel }} {{ end }}<br /></p>
    {{end}}
</div>
{{end}}
